curl --url "imaps://imap.gmail.com:993/Inbox;UID=$1" --user "xmlconv@ywesee.com:iuuqtpsgsuolymvc" | awk '/^\s$/&& getline, 0' | base64 -d2
node_modules/
settings.json
keys.json
.env
tasks.todo
res.md
new_issues.md
tmp
tmp/*
opentrans_orders/*
edifact_orders/*
